{% extends "base.html" %}

{% block title %}
    foodlist
{% endblock title %}



{% block body %}
<h1>food List</h1>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    {% for food in foodlist %}
     <tr>
        <td>{{food[0]}}</td>
        <td>{{food[1]}}</td>
        <td>{{food[2]}}</td>
        <td>{{food[3]}}</td>
        
        <td><a href="deletefood/{{food[0]}}" class="btn btn-danger">Delete</a></td>
        <td><a href="updatefood/{{food[0]}}" class="btn btn-warning">Update</a></td>
     </tr>
    {% endfor %}
      </table>
    {% endblock body %}